@import url(http://fonts.googleapis.com/css?family=Exo);

body {
  /*background-image: url('../images/parallax01.jpg');*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top right;
  color: #384046;
  font-family: 'Exo', sans-serif;
  overflow-x: hidden;
  height: 100% !important;
  max-width: 100%;
}

a {
  color: #B71C1C;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #D50000;
}

ul {
  list-style: none;
}

.hidden_class{
  opacity: 0;
}

.visible{
  opacity: 1;
}

.display-block {
  display: block;
}

#navbar-top{
  background-color: #FBED55;
}

#navbar-top .hotline{
  padding: 9px 0;
  text-align: center;
  color: #A4A1A1;
}

.login-register{
  text-align: right;
  position: absolute;
  right: 5%;
  top: 0;
}

.login-register > ul {
  margin: 0;
  transition: none;
}

#navbar-top button {
  border: none;
  padding: 0.6em 1.2em;
  background: #c0392b;
  color: #fff;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
}

#navbar-top .bg-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(143,27,15,0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#sidebar button:hover {
  background: #A5281B;
}

/*Sidebar*/
#sidebar {
  /*background-color: #CCC;*/
  position: fixed;
  top: 300px;
  z-index: 2;
  padding: 10px 10px 10px 0;
  /*z-index: 1031;*/
}

#sidebar ul {
  padding-left: 0;
}

#sidebar ul > li {
  margin: 5px 5px 5px 0;
}

#sidebar button {
  border: none;
  padding: 0.6em 1.2em;
  background: #c0392b;
  color: #fff;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
}

#sidebar button:hover {
  background: #A5281B;
}

#sidebar #form-input {
  padding: 0 30px;
}

#sidebar .form {
  padding: 0 20px;
}

#sidebar .form-control {
  border-radius: 0;
  background-color: transparent;
  color: #FFF;
  padding: 20px 12px
}

#sidebar .form-control:focus {
  border-color: inherit;
  box-shadow: none;
}

#sidebar textarea {
  background-color: transparent;
  padding: 5px 12px;
  border-color: #CCC;
  width: 100%;
  resize: none;
}

#sidebar textarea:focus {
  outline: none !important;
  border: 1px solid #F5F0F0;
}

#sidebar ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #FFF !important;
}

#sidebar :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #FFF !important;
  opacity: 1;
}

#sidebar ::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #FFF !important;
  opacity: 1;
}

#sidebar :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FFF !important;
}

/* OWL CAROUSEL  STYLE
********************************/ 
/* be move in header-*.css
#slider {
  background-color: #FFF;
  margin-top: 100px;
}*/

#slider .item {
  display: block;
  width: 100%;
  height: 620px;
}

#slider .common {
  position: absolute;
  color: #FFF;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 70px;
  text-align: center;
}

#slider .caption-first-slide {
  top: 240px;
  left: 141px;
}

#slider .caption-third-slide {
  text-align: left;
  top: 150px;
  left: 141px;
}

#slider .btn {
  border-radius: 0 !important;
}

#slider .btn-danger {
  background-color: #E10B0B;
}

#slider .btn-danger:hover {
  background-color: #D50000;
  border-color: #C62828;
}

#slider .image-caption-first {
  position: absolute;
  top: 70px;
  left: 756px;
}

#slider .caption-second-slide {
  top: 130px;
  left: 313px;
}

#slider .image-caption-third {
  position: absolute;
  top: 190px;
  left: 490px;
}

/* 
********************************/ 
.caption {
  padding: 10px;
}

.caption span {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #E10B0B;
}

.caption > p {
  color: #A4A1A1;
  font-size: 19px;
  line-height: 20px;
}

#course {
  text-align: center;
  background-color: #FFF;
  padding-bottom: 50px;
}

#course #reason_choose .col-md-4 {
  padding-left: 0;
  padding-right: 0;
}

#course #reason_choose .text-link {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#course #reason_choose .text-link > a {
  color: #424242;
}

#course #reason_choose .text-link > a:hover {
  color: #616161;
}

#course .icon-image {
  text-align: center;
  margin: 30px 0;
  padding: 0;
  width: 18%;
}

#course .col-md-6 {
  padding: 0;
}

#our-team {
  background-color: #F0F0F0;
  padding-top: 30px;
  padding-bottom: 100px;
  text-align: center;
}

#our-team .box-img {
  background: transparent;
  background-color: rgba(225,11,11,0.7);
  background-image: url('../images/button_icon.png');
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  width: 262px;
  height: 207px;
  opacity: 0;
  transition: all 0.7s ease;
}

#our-team .box-img:hover {
  opacity: 1;
}

#our-team .content {
  text-align: center;
  background-color: rgba(225,11,11,0.88);
  padding: 10px;
}

#our-team img {
  border: 1px solid rgba(225,11,11,0.88);
}

#our-team .content > h4 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

#our-team .content > h4 > a {
  font-weight: bold;
  color: #FEDE55;
}

#our-team .content > h4 > a:hover {
  color: #FFE678;
}

#our-team .content > span {
  padding: 10px;
  color: #FFF;
}

#gallery {
  background-color: #F0F0F0;
}

#gallery .col-md-4 {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#gallery .gallery-img-hover {
  background: transparent;
  background-color: rgba(225, 11, 11, 0.55);
  position: absolute;
  opacity: 0;
  height: 283px;
  width: 434px;
  z-index: 1;
  transition: all 0.7s ease-in-out;
}

#gallery .col-md-4:hover .gallery-img-hover {
  opacity: 1;
}

#gallery .icon-blog {
  float: right;
  text-transform: uppercase;
  font-weight: bold;
  color: #616161;
  background-color: #FEDE55;
  font-size: 20px;
  padding: 10px 25px;
}

#gallery .abstract {
  padding: 130px 50px; 
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
}

#gallery .col-md-4:hover img {
  -webkit-transition:all 0.7s ease-in-out;
  -moz-transition:all 0.7s ease-in-out;
  -o-transition:all 0.7s ease-in-out;
  -ms-transition:all 0.7s ease-in-out;
  transition:all 0.7s ease-in-out;
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

#gallery .col-md-4 img {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

#study-programs {
  padding-top: 20px;
  background-color: #FEDE55;
  text-align: center;
}

#study-programs .nav-tabs {
  border: none;
  text-transform: uppercase;
  font-size: 20px;
}

#study-programs .nav > li > a {
  padding: 5px 15px;
}

#study-programs .nav-tabs > li > a{
  color: #424242;
  border-radius: 4px;
  border: none;
}

#study-programs .nav-tabs > li {
  position: relative;
}

#study-programs .retangle {
  position: relative;
  margin: 0 auto;
  width: 0;
  height: 0;
  opacity: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #E10B0B;
}

#study-programs .nav-tabs > li:hover > a{
  color: #FFF;
  background-color: #E10B0B;
}

#study-programs .nav-tabs > li.active > a,
#study-programs .nav-tabs > li.active > a:focus,
#study-programs .nav-tabs > li.active > a:hover{
  background-color: #E10B0B;
  color: #FFF;
}

#study-programs .nav-tabs > li:hover .retangle,
#study-programs .nav-tabs > li.active .retangle{
  opacity: 1;
}

#study-programs .video {
  margin: 17px 0;
  border: 10px solid #FFF;
}

#study-programs .tab-content ul >li {
  margin: 10px 0;
}

#study-programs .tab-content ul >li > a {
  text-transform: uppercase;
}

#study-programs .btn-lg {
  width: 100%;
}

#study-programs .btn-danger {
  background-color: #E10B0B;
}

#study-programs .btn-danger:hover {
  background-color: #D50000;
  border-color: #D50000;
}

#study-programs .col-md-5,
#study-programs .col-md-7 {
  padding: 0;
}

/*#field {
  background-image: url('../images/parallax.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 50px;
  padding-bottom: 100px;
  color: #FFF;
  height: 390px;
}

#field .container > h1 {
  font-size: 55px;
  text-align: center;
  margin-bottom: 20px;
}

#field .row {
  margin: 50px;
}

#field .col-md-3 {
  margin-top: 20px;
  text-align: center;
}

#field .col-md-3 > h3 > a {
  font-size: 24px;
  color: #A4A1A1;
}

#field .col-md-3 > h3 > a:hover {
  color: #FFF;
}

#field .col-md-3 > p {
  text-transform: uppercase;
}

#services {
  background-color: #FFF; 
  padding-top: 30px;
  padding-bottom: 100px;
}

#services .border-box {
  border: 1px solid rgba(225,11,11,0.88);
  height: 305px;
}

#services .col-md-3 {
  margin-top: 55px;
}

#services .content-services > p,
#services .border-box .witget > h3 {
  text-align: center;
}

#services .content-services > p {
  margin-top: 20px;
  padding: 5px 12px;
}

#services .border-box .witget-09,
#services .border-box .witget-10,
#services .border-box .witget-11,
#services .border-box .witget-12 {
  text-align: center;
  margin-right: 5px;
  margin-bottom: 20px;
  margin-left: 5px;
}

#services .border-box .icon-witget-09,
#services .border-box .icon-witget-10,
#services .border-box .icon-witget-11,
#services .border-box .icon-witget-12 {
  height: 110px;
  width: 110px;
  text-align: center;
  margin-top: -55px;
  margin-left: 70px;
}

#services .border-box .witget-09:hover > h3 > a,
#services .border-box .witget-10:hover > h3 > a,
#services .border-box .witget-11:hover > h3 > a,
#services .border-box .witget-12:hover > h3 > a {
  color: #E10B0B;
}

#services .border-box .icon-witget-09 {
  background-image: url('../images/page_icon09.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#services .border-box .witget-09:hover .icon-witget-09 {
  background: url('../images/page_icon09-hover.png') no-repeat center center;
}

#services .border-box .icon-witget-10 {
  background-image: url('../images/page_icon10.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#services .border-box .witget-10:hover .icon-witget-10 {
  background: url('../images/page_icon10-hover.png') no-repeat center center;
}

#services .border-box .icon-witget-11 {
  background-image: url('../images/page_icon11.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#services .border-box .witget-11:hover .icon-witget-11 {
  background: url('../images/page_icon11-hover.png') no-repeat center center;
}

#services .border-box .icon-witget-12 {
  background-image: url('../images/page_icon12.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#services .border-box .witget-12:hover .icon-witget-12 {
  background: url('../images/page_icon12-hover.png') no-repeat center center;
}*/

#contact {
  padding-bottom: 20px;
  background-color: #E10B0B;
  color: #FFF;
}

#contact ul{
  margin: 0;
}

#contact ul > li {
  list-style: none;
  margin: 0 3px
}

#contact .icon{
  padding: 5px 0;
  display: inline-flex;
}

#contact h2 {
  text-transform: uppercase;
}

#contact a {
  color: #FFF;
}

#contact a:hover{
  color: #EEE;
}

#footer {
  background-color: #FEDE55;
  color: #FFF;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footer p {
  margin: 0;
  float: right;
}

ng-map {
  width: 100%;
  height: 400px !important;
}
