@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Exo);

.login-register .md-overlay {
  background: #DDD;
  width: 100%;
}

.login-register .md-content {
  background: #FFF;
  color: #444;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-box-shadow: 5px 5px 0px #ccc;
  -moz-box-shadow: 5px 5px 0px #ccc;
  box-shadow: 5px 5px 0px #ccc;
}

.login-register .md-modal {
  width: 30%;
  top: 50%;
}

.login-register .tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
}
.login-register .tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.login-register .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #444;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.login-register .tab-group li a:hover {
  background: #E53935;
  color: #fff;
}
.login-register .tab-group .active a {
  background: #F44336;
  color: #fff;
}

.login-register .tab-content > div:last-child {
  display: none;
}

.login-register h2 {
  font-family: 'Exo', sans-serif;
  text-align: center;
  color: #444;
  font-weight: 300;
  margin: 0 0 20px;
}

.login-register input{
  display: block;
  width: 100%;
  height: 100%;
  color: #444;
  padding: 7px 10px;
  border: 1px solid rgba(85, 85, 85, 0.20);
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
.login-register input:focus, .login-register textarea:focus {
  outline: 0;
  border: 1px solid #EF5350;
}

.login-register .field-wrap {
  position: relative;
  margin-bottom: 20px;
}

.login-register .top-row:after {
  content: "";
  display: table;
  clear: both;
}
.login-register .top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.login-register .top-row > div:last-child {
  margin: 0;
}

.login-register .button {
  border: 1px solid #ccc;
  outline: none;
  padding: 12px 10px;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: none;
  color: rgba(164, 161, 161, 0.81);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-appearance: none;
}
.login-register .button:hover, .button:focus {
  background: #F44336;
  color: #FFF;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-appearance: none;
}

.login-register .button-block {
  display: block;
  width: 100%;
}

.login-register .forgot {
  color: #F00;
  margin-top: -20px;
  text-align: right;
}

.login-register ::-webkit-input-placeholder {
    color: #444;
}

.login-register :-moz-placeholder {
    color: #444;
}

.login-register ::-moz-placeholder {
    color: #444;
}

.login-register :-ms-input-placeholder {
    color: #444;
}
