<div class="bg-body">
  <div class="container" id="post-sprogram" style="margin-top: 140px">
    <div class="row">
      <div class="col-md-9 align-center">
        <div ng-repeat="p in post ">
          <div class="post-content" ng-bind-html="p.content | to_trusted"></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="block-rhs" style="height: 250px;">
        </div>

        <div class="block-rhs" style="height: 250px;">
        </div>
        <div class="wrapper-slider">
          <div class="title-sidebar-right upper-case">
            <h3>Chương trình khác</h3>
          </div>
          <div class="slider-sidebar-right">
            <wrap-owlcarousel class="owl-carousel owl-theme" id="slider-sprogram" data-options="{autoPlay: 5000, singleItem: true, responsive: true}" ng-controller="BlocksController">
              <div owl-carousel-item="" ng-repeat="item in blocksConfig.p[0].items" class="item">
                <a href="{{item.link_to_post}}">
                  <div class="img-slider" style="background: url('{{item.slide_image_uri}}'); background-size: cover; background-position: top;"></div>
                </a>
              </div>
            </wrap-owlcarousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-2" ></div>
      <div class="col-md-8">
        <h3>Liên hệ</h3>
        <div class="col-md-4">
        <h4>Phòng ghi danh TTNN:</h4>
        <p>142 Tô Hiến Thành, Q10 <br /> (cạnh cổng 3 - ĐHBK) <br /> ĐT: 08 3864 7256 (ext 5379)</p>
      </div>
      <div class="col-md-4">
        <h4>Văn phòng TTNN:</h4>
        <p>Lầu 1, Nhà C6, trường ĐHBK <br /> 268 Lý Thường Kiệt, P14, Q10 <br /> ĐT: 3864 7256 (ext 5310)</p>
      </div>
      <div class="col-md-4">
        <h4>Cơ sở 2:</h4>
        <p>Lầu 8, nhà H1, trường ĐHBK, <br /> khu ĐH Quốc Gia, Thủ Đức <br /> ĐT: 0985 933 930 (A. Dũng)</p>
      </div>
      </div>
      <div class="col-md-2">
        <ul class="icon">
          <li><a href="{{config.website.googleplus_url}}"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
          <li id="icon-facebook"><a href="{{config.website.facebook_url}}"><i class="fa fa-facebook-square fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
