<div class="bg-body">
  <div class="container" id="post-sprogram">
    <div class="row">
      <div class="col-md-8">
        <div class="wrapper-menu upper-case">
          <ul class="nav nav-pills" id="tabcth">
            <li class="active">
              <a data-toggle="tab" target="_self" href="#tabtqkh">Tổng quan khóa học</a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div id="tabtqkh" class="tab-pane active">
            <div class="content" img-title-center>
              <!-- <h3 style="text-transform: uppercase;">Something</h3> -->
              <!-- <h3 style="text-transform: uppercase;"class="post-title">{{post.title}}</h3> -->
              <div class="post-content" ng-bind-html="post.content | to_trusted"></div>
            </div>
          </div>
        </div>
        <!-- <div class="content" img-title-center> -->
          <!-- <h3 style="text-transform: uppercase;">Something</h3> -->
          <!-- <h3 style="text-transform: uppercase;"class="post-title">{{post.title}}</h3> -->
          <!-- <div class="post-content" ng-bind-html="post.content | to_trusted"></div> -->
        <!-- </div> -->
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="block-rhs">
          <h2>Hot news</h2>
          <ul style="list-style: inherit;">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </div>
        <div class="block-rhs">
          <h3>Thử sức ngay với <br /> free test</h3>
          <div style="text-align: center;">
            <a href="#">Kiểm tra ngay</a>
          </div>
        </div>
        <div class="wrapper-slider">
          <div class="title-sidebar-right upper-case">
            <h3>Chương trình khác</h3>
          </div>
          <div class="slider-sidebar-right">
            <wrap-owlcarousel class="owl-carousel owl-theme" id="slider-sprogram" data-options="{autoPlay: 5000, singleItem: true, responsive: true}" ng-controller="BlocksController">
              <div owl-carousel-item="" ng-repeat="item in blocksConfig.p[0].items" class="item">
                <a href="{{item.link_to_post}}">
                  <div class="img-slider" style="background: url('{{item.slide_image_uri}}'); background-size: cover; background-position: top;"></div>
                </a>
              </div>
            </wrap-owlcarousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>