<div class="bg-body" ng-init="scrollTo('#detail')">
  <wrap-owlcarousel class="owl-carousel owl-theme" id="slider" data-options="{autoPlay: 5000, singleItem : true, responsive: true}" ng-controller="MainController">
    <div owl-carousel-item="" ng-repeat="item in homeConfig.p[0].items" class="item">
      <div style="background-image: url('{{item.image_uri}}'); background-size: cover; height: 100%; width: 100%;"> </div>
      <div class="container">
        <div class="caption-first-slide common">
          Innovation at
          <br>
          the Speed of Life
          <br>
          <p>
            <a class="btn btn-lg btn-danger" href="#" role="button">view portfolio</a>
          </p>
        </div>
        <div class="image-caption-first">
          <img src="images/ipad.png" alt="Ipad" />
        </div>
      </div>
    </div>
  </wrap-owlcarousel>

  <div class="container" id="detail">
    <div class="row">
      <div class="col-md-8">
        <div class="content" img-title-center>
          <!-- <h3 style="text-transform: uppercase;">Something</h3> -->
          <!-- <h3 style="text-transform: uppercase;"class="post-title">{{post.title}}</h3> -->
          <div class="post-content" ng-bind-html="post.content | to_trusted"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="block-rhs">
          <h2>Hot news</h2>
          <ul style="list-style: inherit;">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </div>
        <div class="block-rhs">
          <h3>Thử sức ngay với <br /> free test</h3>
          <div style="text-align: center;">
            <a href="#">Kiểm tra ngay</a>
          </div>
        </div>
        <div class="block-rhs" style="margin-bottom: 30px;"><h3>Another</h3></div>
      </div>
    </div>
  </div>
</div>