<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
  <form class="form-horizontal register-form" name="formInfo" novalidate>
    <h3 class="orange-text">
      <i class="fa fa-cog"></i>
      Cài đặt website
    </h3>
    <div class="row form-group">
      <div class="col-md-6">
        <label for="hotline">HotLine</label>
        <input type="text" class="form-control" id="hotline" ng-model="config.hotline" required placeholder="HotLine">
      </div>
    </div>
    <!-- <div class="row form-group">
      <div class="col-md-6 ">
        <label for="location">Tọa Độ</label>
        <input type="text" class="form-control" id="location" ng-model="config.clinic.location" required placeholder="Tọa Độ">
      </div>
    </div> -->
    <div class="row form-group">
      <div class="col-md-6 ">
        <label for="facebook_url">Link Facebook</label>
        <input type="text" class="form-control" id="facebook_url" ng-model="config.website.facebook_url" required placeholder="Link Facebook">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-6 ">
        <label for="googleplus_url">Link Google+</label>
        <input type="text" class="form-control" id="googleplus_url" ng-model="config.website.googleplus_url" required placeholder="Link Google+">
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12">
        <button ng-disabled="formInfo.$invalid" type="submit" class="btn btn-primary" ng-click="saveConfig()">Lưu</button>
      </div>
    </div>
  </form>
</div>