<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
    <h3 class="orange-text">
        <i class="fa fa-pencil-square"></i>
        Chỉnh Sửa Trang Chủ
    </h3>
    <ul class="nav nav-tabs" role="tablist" id="tabs">
        <li class="active"><a href="#tab-slider" show-tab>Slide</a></li>
        <li><a href="#tab-reason" show-tab>Vì sao chọn học tại ngoại ngữ BK</a></li>
        <li><a href="#tab-sprogram" show-tab>Chương trình học</a></li>
        <li><a href="#tab-teacher" show-tab>Đội ngũ giảng viên</a></li>
        <li><a href="#tab-cmt" show-tab>Cảm nhận</a></li>
        <li><a href="#tab-blog" show-tab>Blog</a></li>
        <li><a href="#tab-another" show-tab>Khác</a></li>
    </ul>
    <div class="panel panel-default panel-custom">
        <div class="tab-content">
            <div id="tab-slider" class="panel-body tab-pane active">
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="homeConfig.p[2].items.push({link_to_post:'', slide_image_uri: '/' })"><span class="fa fa-plus"></span></button>
                </div>
                <div class="col-md-offset-1 form-group">
                    <div class="form-group well col-md-12" ng-repeat="(idx, item) in homeConfig.p[2].items">
                        <div class="col-md-5">
                            <div class="input-group">
                                <div class="input-group-addon">{{base_url}}</div>
                                <input class="form-control" ng-model="item.link_to_post" placeholder="Link tới bài viết"></input>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-addon">{{base_url}}</div>
                                <input class="form-control" ng-model="item.slide_image_uri" />
                                <div class="input-group-addon" style="cursor: pointer" ng-click="clickOnUpload(item, 'slide_image_uri')">
                                    <span class="fa fa-cloud-upload"></span><!--UploadImage-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-danger" ng-click="homeConfig.p[2].items.splice(idx, 1)"><span class="fa fa-trash"></span></button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tab-reason" class="panel-body tab-pane">
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="homeConfig.p[3].items.push({title: '', image_uri: '/' })"><span class="fa fa-plus"></span></button>
                </div>
                <div class="col-md-offset-1 form-group">
                    <div class="form-group well col-md-12" ng-repeat="(idx, item) in homeConfig.p[3].items">
                        <div class="col-md-4">
                            <input class="form-control" ng-model="item.title" />
                        </div>
                        <div class="col-md-7">
                            <div class="input-group">
                                <div class="input-group-addon">{{base_url}}</div>
                                <input class="form-control" ng-model="item.image_uri" />
                                <div class="input-group-addon" style="cursor: pointer" ng-click="clickOnUpload(item, 'image_uri')">
                                    <span class="fa fa-cloud-upload"></span><!--UploadImage-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-danger" ng-click="homeConfig.p[3].items.splice(idx, 1)"><span class="fa fa-trash"></span></button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tab-sprogram" class="panel-body tab-pane">
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="homeConfig.p[4].items.push({video_embed: '', content: '' })"><span class="fa fa-plus"></span></button>
                </div>
                <div class="col-md-offset-1 form-group">
                    <div class="form-group well col-md-12" ng-repeat="(idx, item) in homeConfig.p[4].items">
                        <div class="col-md-11">
                            <div class="form-group">
                                <label>Nội dung</label>
                                <textarea class="form-control" ng-model="item.content" style="height: 100px; resize: vertical"></textarea>
                            </div>
                            <div class="form-group" style="margin-top: 10px;">
                                <!-- <label for="video_uri">Video embed code</label> -->
                                <input id="video_uri" class="form-control" ng-model="item.video_embed" placeholder="Mã nhúng video" />
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-danger" ng-click="homeConfig.p[4].items.splice(idx, 1)"><span class="fa fa-trash"></span></button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tab-teacher" class="panel-body tab-pane">
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="homeConfig.p[5].items.push({teacher_image_uri: '/', name: '', description:''})"><span class="fa fa-plus"></span></button>
                </div>
                <div class="col-md-offset-1 form-group">
                    <div class="form-group well col-md-12" ng-repeat="(idx, item) in homeConfig.p[5].items">
                        <div class="col-md-3">
                            <input class="form-control" ng-model="item.name" placeholder="Enter name teacher" />
                        </div>
                        <div class="col-md-3">
                            <textarea class="form-control" ng-model="item.description" style="height: 100px; resize: vertical"></textarea>
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <div class="input-group-addon">{{base_url}}</div>
                                <input class="form-control" ng-model="item.teacher_image_uri" />
                                <div class="input-group-addon" style="cursor: pointer" ng-click="clickOnUpload(item, 'teacher_image_uri')">
                                    <span class="fa fa-cloud-upload"></span><!--UploadImage-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-danger" ng-click="homeConfig.p[5].items.splice(idx, 1)"><span class="fa fa-trash"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="tab-cmt" class="panel-body tab-pane">
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="homeConfig.p[6].items.push({title: '', image_uri: '/' })"><span class="fa fa-plus"></span></button>
                </div>
                <div class="col-md-offset-1 form-group">
                    <div class="form-group well col-md-12" ng-repeat="(idx, item) in homeConfig.p[6].items">
                        <div class="col-md-4">
                            <input class="form-control" ng-model="item.title" />
                        </div>
                        <div class="col-md-7">
                            <div class="input-group">
                                <div class="input-group-addon">{{base_url}}</div>
                                <input class="form-control" ng-model="item.image_uri" />
                                <div class="input-group-addon" style="cursor: pointer" ng-click="clickOnUpload(item, 'image_uri')">
                                    <span class="fa fa-cloud-upload"></span><!--UploadImage-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-danger" ng-click="homeConfig.p[6].items.splice(idx, 1)"><span class="fa fa-trash"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="tab-blog" class="panel-body tab-pane">
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="homeConfig.p[7].items.push({abstract: '', blog_image_uri: '/' })"><span class="fa fa-plus"></span></button>
                </div>
                <div class="col-md-offset-1 form-group">
                    <div class="form-group well col-md-12" ng-repeat="(idx, item) in homeConfig.p[7].items">
                        <div class="col-md-5">
                            <textarea class="form-control" ng-model="item.abstract" style="height: 100px; resize: vertical"></textarea>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-addon">{{base_url}}</div>
                                <input class="form-control" ng-model="item.blog_image_uri" />
                                <div class="input-group-addon" style="cursor: pointer" ng-click="clickOnUpload(item, 'blog_image_uri')">
                                    <span class="fa fa-cloud-upload"></span><!--UploadImage-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-danger" ng-click="homeConfig.p[7].items.splice(idx, 1)"><span class="fa fa-trash"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="tab-another" class="panel-body tab-pane">
                <h4 class="orange-text">
                    Hotline
                </h4>

                <div class="form-group">
                    <div class="input-group" ng-repeat="item in homeConfig.p[0].items">
                        <input class="form-control" ng-model="item.hotline" />
                    </div>
                </div>

                <h4 class="orange-text">
                    Logo
                </h4>

                <div class="form-group">
                    <div class="input-group" ng-repeat="item in homeConfig.p[1].items">
                        <div class="input-group-addon">{{base_url}}</div>
                        <input class="form-control" ng-model="item.logo_image_uri" />
                        <div class="input-group-addon" style="cursor: pointer" ng-click="clickOnUpload(item, 'logo_image_uri')">
                            <span class="fa fa-cloud-upload"></span><!--UploadImage-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" ng-click="save()">Lưu</button>
    </div>

    <!-- Modal -->
    <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">- Chọn bài viết liên quan</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                            </div>
                        </div>
                    </div>
                    <table ng-table="tableParams" show-filter="true" class="table table-striped table-condensed table-bordered">
                        <tr ng-repeat="row in $data track by row.id">
                            <td width="35%" data-title="'Tên bài viết'" filter="{title: 'text'}">
                                {{row.title}}
                            </td>
                            <td width="20%" data-title="'Loại bài viết'" filter="{catalog: 'select'}" filter-data="dcatalogs">{{row.catalog}}</td>
                            <td width="20%" data-title="'Người viết'" filter="{'author': 'select'}" filter-data="dauthors">{{row.author}}</td>
                            <td width="20%" data-title="'Ngày viết'" sortable="'dateInit'">{{row.dateInit | date: 'dd/MM/yyyy HH:mm'}}</td>
                            <td width="5%" data-title="'Add'"><button class="btn btn-primary" ng-click="addReview(row.id)"><span class="fa fa-plus"></span></button> </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Modal CK editor -->
    <!-- <div class="modal fade" id="editInputContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div ckeditor="options" ng-model="htmlEditor" ready=""></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-app-sm" data-dismiss="modal" ng-click="saveInput()">
                        <i class="fa fa-clipboard"></i> OK
                    </button>
                </div>
            </div>
        </div>
    </div> -->

    <!--Select input-->
    <input type="file" ng-model="file" ngf-select="uploadImage(currentUploadItem, currentUploadField)" accept="image/*" id="upload" style="display: none"/>
</div>
