<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
  <h3 class="orange-text">
    <i class="fa fa-list"></i>
    Danh sách người dùng
  </h3>

  <table ng-table="tableParams" show-filter="true" class="table table-striped">
    <tr ng-repeat="(idx, row) in $data">
      <td width="2%" data-title="'STT'">{{idx+1}}</td>
      <td width="30%" data-title="'Email'" filter="{email: 'text'}">{{row.email}}</td>
      <td width="20%" data-title="'Họ và tên'" filter="{fullname: 'text'}">{{row.fullname}}</td>
      <td width="15%" align="center" data-title="'Số điện thoại'" filter="{'phone_number': 'number'}">{{row.phone_number}}</td>
      <td width="20%" data-title="'Nơi làm việc'" filter="{'job': 'text'}">{{row.job}}</td>
    </tr>
  </table>
</div>
