<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
    <h3 class="orange-text">
        <i class="fa fa-table"></i>
        Quản lý điểm
    </h3>

    <ul class="list-group">
    	<li ng-repeat="class in classes | reverse" class="list-group-item">
    		<div ng-click="getStudents(class)" style="cursor: pointer;display: inline-block;" data-toggle="collapse" data-target="#{{class.id}}" aria-expanded="false">
	    		<span ng-if="class.type == 0">Thi cuối khóa</span>
	    		<span ng-if="class.type == 1">Thi thử</span>
	    		<span> - {{class.class}}</span>
	    		<span> ngày {{class.date | date: 'dd/MM/yyyy'}}</span>
			</div>
            <i class="fa fa-times-circle" aria-hidden="true" title="Xoá lớp" ng-click="delete(class)" style="color: red;position:absolute;right: 10px; cursor:pointer;"></i>
            <div class="collapse" id="{{class.id}}">
              <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Tên</th>
                        <th>Số điện thoại</th>
                        <th>Điểm</th>
                        <th>Hạng</th>
                        <th>Ghi chú</th>
                    </tr>
                    <tr ng-repeat="student in class.students">
                        <td>{{student.fullname}}</td>
                        <td>{{student.mobile}}</td>
                        <td>{{student.point}}</td>
                        <td>{{student.rank}}</td>
                        <td>{{student.note}}</td>
                    </tr>
                </table>
              </div>
            </div>
    	</li>
    </ul>

</div>
