<div class="bg-body" ng-init="scrollTo('#content')">
  <!-- <wrap-owlcarousel class="owl-carousel owl-theme" id="slider" data-options="{autoPlay: 5000, singleItem : true, responsive: true}" ng-controller="MainController">
    <div owl-carousel-item="" ng-repeat="item in homeConfig.p[0].items" class="item">
      <div style="background-image: url('{{item.image_uri}}'); background-size: cover; height: 100%; width: 100%;"> </div>
      <div class="container">
        <div class="caption-first-slide common">
          Innovation at
          <br>
          the Speed of Life
          <br>
          <p>
            <a class="btn btn-lg btn-danger" href="#" role="button">view portfolio</a>
          </p>
        </div>
        <div class="image-caption-first">
          <img src="images/ipad.png" alt="Ipad" />
        </div>
      </div>
    </div>
  </wrap-owlcarousel> -->

  <div id="content" class="container" style="margin-top: 170px;">
    <div class="row">
      <div class="col-md-9">
        <div class="content-international" img-title-center>
          <h4 style="text-transform: uppercase;"><b>Ngoại ngữ Bách Khoa</b> trung tâm chính thức của</h4>
          <div class="logos-center">
            <img src="images/ets.png" style="width: 150px;" />
            <img src="images/british_council.png" style="width: 250px;" />
            <img src="images/cambridge_logo.png" style="width: 270px;" />
          </div>
          <div>
            <!-- <h3 style="text-transform: uppercase;"class="post-title">{{post.title}}</h3> -->
            <div class="post-content" ng-bind-html="post.content | to_trusted"></div>
          </div>
          <div></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="block-rhs">
          <h2>Hot news</h2>
          <ul style="list-style: inherit;">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </div>
        <div class="block-rhs" style="height: 200px;">
          
        </div> 
        <div class="btn-procedures">
          <a href="#" class="btn btn-danger">Thủ tục dự thi</a>
        </div>
      </div>
    </div>
  </div>
</div>
